
body {
  margin: 0;
  min-height: 100vh;
  background-color: #0a0a0a;
  position: relative; 
  overflow-x: hidden; 

}
.bg-con{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 900;

}
.bg-con h1{
  opacity: 0.1;
}



body::before,
body::after {
  content: '';
  position: fixed;
  border-radius: 50%;
  filter: blur(300px);
  animation: pulse 6s infinite alternate;
  z-index: -1;
}

body::before {
  width: 70%;
  height: 70%;
  top: -20%;
  left: -25%;
  background-color: rgba(238, 0, 255, 0.2); 
}

body::after {
  width: 70%;
  height: 70%;
  bottom: -20%;
  right: -25%;
  background-color: rgba(6, 182, 212, 0.2); 
  animation-delay: 3s;
}


@keyframes pulse {
  0% { transform: scale(1); opacity: 0.6; }
  100% { transform: scale(1.3); opacity: 1; }
}


* {
 box-sizing: border-box;
}
